= form_with(url: tasks_path, class: 'filters-container', method: :get,
  data: { controller: 'filters', filters_target: 'form', turbo_frame: 'tasks_list' }) do |f|
  .filters-group
    = f.label :priority, 'Filter by priority'
    .custom-select-container
      = f.select :priority, options_for_select(Task.priorities.keys, params[:priority]),
        { include_blank: false }, { multiple: true, class: 'custom-select', id: 'priority_select',
        data: { action: 'filters#submit' } }

= render 'tasks/tasks_list', tasks: @tasks
