.navbar.navbar-expand-lg.navbar-dark.bg-primary
  .container-fluid
    %a.navbar-brand{ href: root_path } TaskManager
    %button.navbar-toggler{ type: 'button', "data-bs-toggle": "collapse", "data-bs-target": '#navbarSupportedContent',
      "aria-controls": 'navbarSupportedContent', "aria-expanded": "false", "aria-label": 'Toggle navigation' }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          %a.nav-link.active{ "aria-current": 'page', href: '#' } Home
      %form.d-flex
        = link_to('Log out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn btn-outline-light')
